
#errorCaption {
    color: lightcoral;
    background: #400707;
    border: #202020;
}

#errorText {
    background: #999999;
    font-family: sans-serif;
    border: #202020;
}

#pictureForm {
    max-width: 432px;
    width: 100%;
}

#previewImage {
    max-width: 400px;
    max-height: 500px;
    object-fit: contain;
    width: 100%;
}

.inputField {
    width: 100%;
}